* {
  background-color: #fffffe;
}
.websiteLogo {
  height: 129px;
  width: 208px;
}
.navbar-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
  font-weight: 400;
}
.navbar-text a:hover {
  color: #002a64;
}
.heading-center {
  margin-top: 15px;
  text-align: center;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.margin-bottom-2 {
  margin-bottom: 50px;
}
.categories-list,
.answer-card {
  font-size: 16px;
  border: 1px solid #002a6427;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}
.margin-top-2 {
  margin-top: 50px;
}
.related-questions {
  border: 1px solid #002a6427;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}
.related-questions a {
  font-size: 18px;
  text-decoration: none;
  color: #002a64;
}
.question-list {
  border: 1px solid #002a6427;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
.question-list a,
.question-title {
  font-size: 18px;
  text-decoration: none;
  color: #002a64;
}
.question-title {
  font-size: 26px;
  text-decoration: none;
  color: #002a64;
}
.categories-list a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #002a64;
}
.categories-list a:hover {
  text-decoration: underline;
  color: #002a64;
}
@media (min-width: 1200px) {
  .h1,
  h1 {
    font-size: 3rem;
  }
}
