*{
    background-color: #FFFFFE;
}
.websiteLogo{
    height: 129px;
    width: 208px;
}
.navbar-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: 400;
}
.navbar-text a:hover{
  color: #002A64;
}
.heading-center{
    margin-top: 15px;
    text-align: center;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.mt-15{
    margin-top: 15px;
}
.margin-bottom-2{
    margin-bottom: 50px;
}
.margin-top-2{
    margin-top: 50px;
}
.question-list {
    border: 1px solid #002a6427;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}
.question-list a, .question-title {
    font-size: 18px;
    text-decoration: none;
    color: #002A64;
}
.question-title {
    font-size: 26px;
    text-decoration: none;
    color: #002A64;
}
@media (min-width: 1200px) {
    .h1, h1 {
        font-size: 3.5rem;
    }
}